# MANIFEST.in
include README.md
include LICENSE
include NOTICE
include pyproject.toml

recursive-include src/chemomae/assets *.pt *.sha256
include src/chemomae/py.typed

global-exclude __pycache__/*
global-exclude *.py[cod]
global-exclude .DS_Store
